@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(23, 4%, 15%);
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(23, 4%, 30%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(23, 4%, 40%);
}

@layer components {

  h1, h2, h3, h4 {
    @apply text-white font-semibold;
  }

  .placeholder-color {
    @apply placeholder-zinc-400 text-white;
  }

  img {
    @apply block max-w-full h-auto;
  }

  .section {
    @apply pt-20 pb-4 lg:pt-28 lg:pb-8;
  }

  .section-container {
    @apply container px-6 xl:px-20 xl:mx-auto max-w-screen-xl;
  }

  .section-title {
    @apply text-center mb-6 text-xl lg:text-4xl;
  }

  .box-shadow {
    box-shadow:  0 12px 32px hsla(23, -100%, -50%, .12);
  }

  .button {
    @apply text-white py-3 px-6 rounded-full font-semibold inline-flex justify-center items-center gap-x-2 transition-shadow duration-300 hover:box-shadow;
    background: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%); 
  }
  
  .gradient-bg {
    background: linear-gradient(90deg, hsl(23, 4%, 28%) 0%, hsl(23, 4%, 8%) 100%); 
  }

  .model-tooltip-text {
    @apply gradient-bg text-xs sm:text-sm lg:text-base py-1 px-3 lg:py-2 lg:px-5 text-primary font-medium rounded-full absolute whitespace-nowrap;
  }
  
  .active-link {
    @apply text-main;
  }
}

/* ESTADOS */
.swiper-slide-active {
  filter: blur(0);
}

.swiper-slide-active img {
  scale: 1 !important;
}

.scrollup.isshow {
  bottom: 3rem;
}

.navmenu.isopen {
  padding-block: 5.5rem 4.5rem;
  top: 0;
}

.header.isblur::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(23, 12%, 4%, .2);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px); /* for safari */
  top: 0;
  left: 0;
  z-index: -1;
}
